* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
}

.mainContainer {
  flex: 4;
  padding: 1rem;
  color: white;
  background-color: #bc3908;
}

/*
*,
*:before,
*:after {
  box-sizing: inherit;
}*/

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column {
  width: 250px;
  display: block;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: black;
}

.cContainer {
  padding: 0 16px;
  text-align: center;
}

.cContainer::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.topContainer {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 200px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(66, 57, 39);
  opacity: 60%;
  overflow: hidden;
  width: 200px;
  height: 0;
  transition: 0.5s ease;
}

.topContainer:hover .overlay {
  height: 100%;
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
