* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
}

.mainContainer {
  flex: 4;
  padding: 1.2rem;
  color: white;
  background-color: #6a040f;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column {
  width: 250px;
  display: block;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: black;
}

.cContainer {
  padding: 0 16px;
  text-align: center;
}

.cContainer::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.topContainer {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 200px;
  height: 290px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(66, 57, 39);
  opacity: 60%;
  overflow: hidden;
  width: 200px;
  height: 0;
  transition: 0.5s ease;
}

.topContainer:hover .overlay {
  height: 100%;
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.topColumn {
  float: left;
  padding: 28px;
  background-color: #bc3908;
}

.topRow::after {
  content: "";
  clear: both;
  display: table;
}

.contactContainer {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

form {
  padding: 50px;
  margin: 20px;
  box-shadow: 0 2px 5px;
  background: #bc3908;
}

input,
textarea {
  width: calc(100% - 1px);
  padding: 2px;
  margin-bottom: 20px;
  border: 1px solid #631f06;
  outline: none;
  font-size: 18px;
}

input::placeholder {
  color: #666;
  font-size: 17px;
}

.formButton {
  width: 100%;
  padding: 10px;
  border: none;
  background: #6d2005;
  font-size: 19px;
  font-weight: 400;
  color: #fff;
}

.formButton:hover {
  background: #5c1c04;
}

.contactContainer1 {
  float: right;
  background-color: #220901;
  color: white;
  padding: 30px;
}

.contactText {
  text-align: center;
}

.icon1 {
  font-size: 3rem;
}

.icon2 {
  font-size: 2rem;
}

.icon3 {
  font-size: 2rem;
}
